language: ruby

rvm:
  - 2.0.0
  - 1.9.3
  - jruby-19mode
  - jruby-head
gemfile:
  - .travis/Gemfile
env:
  - CONN=hiredis
  - CONN=ruby

matrix:
  exclude:
    - rvm: jruby-head
      gemfile: .travis/Gemfile
      env: CONN=hiredis
    - rvm: jruby-19mode
      gemfile: .travis/Gemfile
      env: CONN=hiredis
